.grid_container {
    height: 100vh;
    width: 100%;
    display: flex; 
    align-items: center; 
    justify-content: center;
    background-color: #f0f0f0;
    overflow: auto;
}

.custom_grid {
    display: grid;
    grid-template-columns: repeat(var(--num-cols), var(--size)); 
    grid-template-rows: repeat(var(--num-rows), var(--size));
    background-color: rgb(96, 99, 100);
}

.square {
    position: relative;
    background-color: #fff;
    border: 1px solid #000;
}

/* .square.gcost {
    bottom: 2%;
    left: 2%;
    font-size: calc(var(--size) * 0.5);
} */

.gcost {
    position: absolute;
    bottom: 0.5%;
    left: 2%;
    font-size: calc(var(--size) * 0.2);
    margin: 0;
}

.hcost {
    position: absolute;
    bottom: 0.5%;
    right: 4%;
    font-size: calc(var(--size) * 0.2);
    margin: 0;
}

.fcost {
    position: absolute;
    top: 0.5%;
    left: 2%;
    font-size: calc(var(--size) * 0.4);
    margin: 0;
}
