.grid_container {
    height: 100vh;
    width: 100%;
    display: flex; 
    align-items: center; 
    justify-content: center;
    background-color: #f0f0f0;
    overflow: auto;
    position: relative;
}

.custom_grid {
    display: grid;
    grid-template-columns: repeat(var(--num-cols), var(--size)); 
    grid-template-rows: repeat(var(--num-rows), var(--size));
    background-color: rgb(96, 99, 100);
}

.square {
    position: relative;
    background-color: #fff;
    border: 1px solid #000;
}

/* .square.gcost {
    bottom: 2%;
    left: 2%;
    font-size: calc(var(--size) * 0.5);
} */

.gcost {
    position: absolute;
    bottom: 0.5%;
    left: 2%;
    font-size: calc(var(--size) * 0.15);
    margin: 0;
}

.hcost {
    position: absolute;
    bottom: 0.5%;
    right: 4%;
    font-size: calc(var(--size) * 0.15);
    margin: 0;
}

.fcost {
    position: absolute;
    top: 0.5%;
    left: 2%;
    font-size: calc(var(--size) * 0.3);
    margin: 0;
}

.controls {
    position: absolute;
    width: fit-content;
    bottom: 3%;
    left: 2.5%;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    z-index: 10;
    display: flex;
    flex-direction: row;
    gap: 20px;
    pointer-events: none;
}

.controls button input {
    pointer-events: auto;
}

.controls_col p {
    margin: 0;
}

.controls_col {
    display: flex;
    flex-direction: column;
    gap: 5px;
    pointer-events: auto;
}