
body{
    background-color: #DDEB9D;
}
.parent-grid{
    height:100vh;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 10fr 3fr;
}

.parent-grid > div{
    border: 1px solid white;
}
#col2{
    display: grid;
    height: 100%;
    width: 100%;
    grid-template-rows: 20px 7fr 7fr;
}
#buttons{
    display: grid;
    height: 100%;
    width:50%;
    grid-template-columns: repeat(5, 1fr);
}
#buttons img{
    max-width: 10%;
}
#parent, #primes_area{
    display: grid;
    width:80%;
    grid-template-columns: repeat(auto-fill, minmax(40px, auto));
}
#parent div, #primes_area div{
    border:1px solid black;
    margin-bottom: 10px;
}
#parent .not_prime{
    background-color: #A0C878;

}
#parent .prime{
    background-color: #27667B;
}
.select{
    background-color:#143D60 !important;
    opacity: .2;
}
.select-outer{
    border: 1px solid yellow !important;
}
#third_column{
    display: grid;
    grid-template-rows: 1fr 7fr;
}
#logs {
    width: 100%;
    height: 100%;

    justify-content: center;
    align-items: center;
    text-align: center;

    background-color: #A0C878;
    border-radius: 50% 50% 50% 50% / 60% 60% 40% 40%;
    overflow:hidden;
  }
