
#parent-parent{
    display: grid;
    width:100%;
    height: 100%;
    grid-template-columns: 1fr;
}
#parent-parent > div{
    border: 1px solid red;
}
#parent-res{
    display: grid;
    width:100%;
    grid-template-columns: repeat(auto-fill, minmax(40px, auto));
    border:1px solid red;
}
#parent-res div{
    border:1px solid black;
    background-color: green;
    margin-bottom: 10px;
}
#pseudo{
    width: 20%;
}
#parent-res .eliminated{
    background-color: white;
}
#parent-res .select{
    background-color:blue;
}
#parent-res .found{
    background-color: black !important;
}