
circle{
    max-width: 40;
    max-height: 40;
}
#algorithm {
    height: fit-content;
}
main{
    flex-grow: 1;
}
#algorithm{
    border: 1px solid red;
    display:flex;
    background-color: var(--gray-secondary);
}